$col1: #FEFFFF;
$col2: #DEF2F1;
$col3: #3AAFA9;
$col4: #2B7A78;
$col5: #17252A;

// $col1: #EDF5E1;
// $col2: #8EE4AF;
// $col3: #5CDB95;
// $col4: #379683;
// $col5: #05386B;

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $col3;
    // cursor: none;
}

%button {
    box-shadow: 3px 2px 19px -5px rgba(0,0,0,0.62);
    width: 400px;
    margin: 25px auto;
    font-size: 1.5rem;
    color: $col3;
    background-color: $col4;
    text-transform: uppercase;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    &:focus {
        outline: none;
        border: 0;
        // box-shadow: none;
    }
    &:hover {
        background-color: $col5;
        // cursor: pointer;
    }
    &:active {
        box-shadow: none;
        color: $col2;
    }
}
