$col1: #FEFFFF;
$col2: #DEF2F1;
$col3: #3AAFA9;
$col4: #2B7A78;
$col5: #17252A;

// $col1: #EDF5E1;
// $col2: #8EE4AF;
// $col3: #5CDB95;
// $col4: #379683;
// $col5: #05386B;

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $col3;
    margin-bottom: 100px;
    // cursor: none;
}


