header {

    padding: 3rem;
    text-align: center;
    & h1 {
        color: $col2;
        font-size: 2.5rem;
        & span {
            color: $col5;
        }
    }
    & p {
        font-size: 1.2rem;
        color: $col5; 
    }
}