.app {
    // background-color: $col3;
    // min-height: 100%;
    padding-bottom: 100px;
}

nav {
    // position: fixed;
    background-color: $col4;
    padding: 10px 20%;
    & .navList {
  
        display: flex;
        justify-content: space-around;
        & .link {
            color: $col2;
            font-size: 1.3rem;
            font-weight: 700;
            text-decoration: none;
            transition: 0.1s ease-in-out; 
            &:hover {           
                font-size: 1.5rem;
                // size: 120%;
            }
        }
    }
}


header {
    padding: 3rem;
    text-align: center;
    & h1 {
        color: $col2;
        font-size: 2.5rem;
        & span {
            color: $col5;
        }
    }
    & p {
        font-size: 1.2rem;
        color: $col5; 
    }
}

.wideBtn {
    @extend %button
}

.canvas {
    text-align: center;
    &__rect {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        background-color: $col5;
        border-radius: 5px;
        width: 400px;
        height: 400px;
        
    }
    & input {
        width: 400px;
        margin: 20px auto 40px;
        text-align: center;
        // font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        background-color: $col3;
        color: $col5; 
        border: none;
        border-radius: 5px;
        box-shadow: inset 3px 2px 19px -5px rgba(0,0,0,0.62);
        transition: 0.1s ease-in-out;
        ::placeholder {
            color: $col4; 
        }
        &:focus {
            outline: none;
        }
        &:hover {
            background-color: $col4;
            &::placeholder {
                color: $col3; 
            }
            cursor: none;
          
        }
    }
}
.gallery {
    text-align: center;
    color: $col5;
    &__artpieces {
        margin: 50px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        text-align: center;
       
    }
    &__artpiece {
        margin: 10px;
        width: calc(20% - 20px);
        transition: 0.1s ease-in-out;
        &:hover {
            margin: 5px;
            width: calc(20% - 10px);
            & .del {
                opacity: 1;
            }
            & p {
                opacity: 1;
            }
        }
        & img {
            background-color: $col5;
            border-radius: 5px;    
        }   
        & .del {
            opacity: 0;
            @extend %button;
            margin: 0;
            border-radius: 50%;
            background-color: $col4;
            color: $col1;
            font-weight: 700;
            font-size: 0.5rem;
            height: 20px;
            width: 20px;
            left: 50%;
            top: 10px;
            position: relative;
        }
        & p {
            opacity: 0;  
            margin: 0;
            padding: 0;
        }
       
    
    }
}
.size {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        height: 60%;
        margin: auto;
        box-shadow: 0px 0px 159px 133px $col3; 
   
    // & p {
    //     display: block;
    // }
}


.countdown {
    color: $col5;
    text-align: center;
    display: flex;
    flex-direction: column;
    & h1 {
        margin: 15px auto;
    }
}



.pointer {
    width: 21px;
    height: 21px;
    background-color: $col3;
    border: 1px solid $col5;
    opacity: 30%;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    // cursor: none;
    // transition: 0.2s ease-in-out;
}
