/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd,
canvas,
button {
  margin: 0;
  cursor: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

.app {
  background-color: #3AAFA9;
  padding-bottom: 100px;
}

header {
  padding: 3rem;
  text-align: center;
}

header h1 {
  color: #DEF2F1;
  font-size: 2.5rem;
}

header h1 span {
  color: #17252A;
}

header p {
  font-size: 1.2rem;
  color: #17252A;
}

.canvas {
  text-align: center;
}

.canvas__rect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background-color: #17252A;
  border-radius: 5px;
  width: 400px;
  height: 400px;
}

.canvas input {
  width: 400px;
  margin: 20px auto 40px;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: #3AAFA9;
  color: #17252A;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: inset 3px 2px 19px -5px rgba(0, 0, 0, 0.62);
          box-shadow: inset 3px 2px 19px -5px rgba(0, 0, 0, 0.62);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.canvas input ::-webkit-input-placeholder {
  color: #2B7A78;
}

.canvas input :-ms-input-placeholder {
  color: #2B7A78;
}

.canvas input ::-ms-input-placeholder {
  color: #2B7A78;
}

.canvas input ::placeholder {
  color: #2B7A78;
}

.canvas input:focus {
  outline: none;
}

.canvas input:hover {
  background-color: #2B7A78;
  cursor: none;
}

.canvas input:hover::-webkit-input-placeholder {
  color: #3AAFA9;
}

.canvas input:hover:-ms-input-placeholder {
  color: #3AAFA9;
}

.canvas input:hover::-ms-input-placeholder {
  color: #3AAFA9;
}

.canvas input:hover::placeholder {
  color: #3AAFA9;
}

.canvasImgArray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: center;
}

.canvasImgArray img {
  margin: 10px;
  width: 80px;
  height: 80px;
  background-color: #17252A;
  border-radius: 5px;
}

.countdown {
  color: #17252A;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.countdown h1 {
  margin: 15px auto;
}

.countdown button {
  -webkit-box-shadow: 3px 2px 19px -5px rgba(0, 0, 0, 0.62);
          box-shadow: 3px 2px 19px -5px rgba(0, 0, 0, 0.62);
  width: 400px;
  margin: 40px auto 0;
  font-size: 1.5rem;
  color: #3AAFA9;
  background-color: #2B7A78;
  text-transform: uppercase;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.countdown button:focus {
  outline: none;
  border: 0;
}

.countdown button:hover {
  background-color: #17252A;
}

.countdown button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #DEF2F1;
}

.pointer {
  width: 21px;
  height: 21px;
  background-color: #3AAFA9;
  border: 1px solid #17252A;
  opacity: 30%;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */